@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/image.png);
    background-size: cover;
}

div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    max-width: 500px;
    width: 100%;
    height: fit-content;
    padding: 100px 40px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    border-radius: 25px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}

h1 {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    width: 100%;
    align-self: stretch;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    align-self: stretch;
}

label {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input {
    display: flex;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    width: 100%;
    align-self: stretch;
    color: #656464;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-radius: 10px;
    background: #FFF;
}

button {
    display: flex;
    width: 100%;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: #E90055;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
